{% if nginx.l4 is defined %}
stream {

{% for application in nginx.l4 %}
    upstream {{ application.hostname }}-stream {
    {% for server in application.servers %}
        {% if server.port is defined %}
        server {{ app_server.hostname }}:{{ app_server.port }} {{ app_server.options | default(None) }};
        {% else %}
        server {{ server.hostname }}:{{ application.port }} {{ server.options | default(None) }};
        {% endif %}
    {% endfor %}
    }

    server {
        listen {{ application.port }};
        server_name {{ application.hostname }};
        proxy_pass {{ application.hostname }}-stream;
        proxy_timeout {{ nginx_proxy_timeout | default('600s') }};
        proxy_connect_timeout {{ nginx_proxy_connect_timeout | default('60s') }};
    }

{% endfor %}
}
{% endif %}
