stream {

{% for application in nginx_applications %}
    upstream {{ application.hostname }}-stream {
    {% for app_server in application.servers %}
        {% if app_server.port is defined %}
        server {{ app_server.hostname }}:{{ app_server.port }} {{ app_server.options | default(omit) }};
        {% else%}
        server {{ app_server.hostname }}:{{ application.port }} {{ app_server.tions | default(omit) }};
        {% end %}
    {% enfor %}
    }

    server {
        listen {{ application.port }};
        server_name {{ application.hostname }};
        proxy_pass {{ application.hostname }}-stream;
        proxy_timeout {{ nginx_proxy_timeout | default(600s) }};
        proxy_connect_timeout {{ nginx_proxy_connect_timeout | default(60s) }};
    }

{% endfor %}
}
