- name: Populate service facts
  service_facts:

- name: Ensure parent directory exists
  ansible.builtin.file:
    path: "/etc/systemd/resolved.conf.d"
    state: directory

- name: Update DNS config for systemd-resolved
  ansible.builtin.template:
    src: resolved.conf.j2
    dest: /etc/systemd/resolved.conf.d/custom.conf
  when: '"systemd-resolved.service" in services'

- name: Check if /etc/resolv.conf is correctly linked
  ansible.builtin.stat:
    path: /etc/resolv.conf
  register: resolv_conf
  when:
    - '"systemd-resolved.service" in services'

- name: Link systemd stub resolv.conf to resolv.conf
  ansible.builtin.file:
    src: /run/systemd/resolve/stub-resolv.conf
    dest: /etc/resolv.conf
    force: true
    state: link
  when: 
    - '"systemd-resolved.service" in services'

- name: Restart systemd-resolved service 
  ansible.builtin.systemd_service:
    state: restarted 
    name: systemd-resolved
  when: '"systemd-resolved.service" in services'
